@font-face {
    font-family: "flaticon_mycollection";
    src: url("../fonts/flaticon_mycollection04d6.ttf?b0c08814be09cd0311826d8f340460de") format("truetype"),
url("../fonts/flaticon_mycollection04d6.woff?b0c08814be09cd0311826d8f340460de") format("woff"),
url("../fonts/flaticon_mycollection04d6.woff2?b0c08814be09cd0311826d8f340460de") format("woff2"),
url("../fonts/flaticon_mycollection04d6.eot?b0c08814be09cd0311826d8f340460de#iefix") format("embedded-opentype"),
url("../fonts/flaticon_mycollection04d6.svg?b0c08814be09cd0311826d8f340460de#flaticon_mycollection") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-renewable-energy:before {
    content: "\f101";
}
.flaticon-solar-energy:before {
    content: "\f102";
}
.flaticon-solar-panel:before {
    content: "\f103";
}
.flaticon-solar-panel-1:before {
    content: "\f104";
}
.flaticon-solar-panels:before {
    content: "\f105";
}
.flaticon-power-generation:before {
    content: "\f106";
}
.flaticon-battery-charge:before {
    content: "\f107";
}
.flaticon-solar-activity:before {
    content: "\f108";
}
.flaticon-solar-panel-2:before {
    content: "\f109";
}
.flaticon-solar-energy-1:before {
    content: "\f10a";
}
.flaticon-solar-energy-2:before {
    content: "\f10b";
}
.flaticon-solar-house:before {
    content: "\f10c";
}
.flaticon-solar-cell:before {
    content: "\f10d";
}
.flaticon-solar-panels-1:before {
    content: "\f10e";
}
.flaticon-solar-house-1:before {
    content: "\f10f";
}
.flaticon-solar-energy-3:before {
    content: "\f110";
}
.flaticon-renewable-energy-1:before {
    content: "\f111";
}
.flaticon-solar-house-2:before {
    content: "\f112";
}
.flaticon-solar-panel-3:before {
    content: "\f113";
}
.flaticon-lighting:before {
    content: "\f114";
}
.flaticon-maintenance:before {
    content: "\f115";
}
.flaticon-bolt:before {
    content: "\f116";
}
.flaticon-renewable-energy-2:before {
    content: "\f117";
}
.flaticon-bulb:before {
    content: "\f118";
}
.flaticon-solar-energy-4:before {
    content: "\f119";
}
.flaticon-green-energy:before {
    content: "\f11a";
}
.flaticon-windmill:before {
    content: "\f11b";
}
.flaticon-solar-panel-4:before {
    content: "\f11c";
}
.flaticon-sun:before {
    content: "\f11d";
}
.flaticon-setting:before {
    content: "\f11e";
}
.flaticon-backup:before {
    content: "\f11f";
}
.flaticon-customer-service:before {
    content: "\f120";
}
.flaticon-solution:before {
    content: "\f121";
}
.flaticon-international:before {
    content: "\f122";
}
.flaticon-air-freight:before {
    content: "\f123";
}
.flaticon-travel:before {
    content: "\f124";
}
.flaticon-windmill-1:before {
    content: "\f125";
}
.flaticon-charge:before {
    content: "\f126";
}
.flaticon-solar-panel-5:before {
    content: "\f127";
}
.flaticon-battery:before {
    content: "\f128";
}
.flaticon-wind-energy:before {
    content: "\f129";
}
.flaticon-solar-panel-6:before {
    content: "\f12a";
}
.flaticon-renewable-energy-3:before {
    content: "\f12b";
}
.flaticon-energy:before {
    content: "\f12c";
}
.flaticon-solar-panel-7:before {
    content: "\f12d";
}
.flaticon-wind-power:before {
    content: "\f12e";
}
.flaticon-solar-energy-5:before {
    content: "\f12f";
}
